<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Best party EVER</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        @RenderBody()
        
        <div class="incoming-parties">
            <ul>
                <li>Party 1</li>
                <li>Party 2</li>
                <li>Party 3</li>
                <li>Party 4</li>
                <li>Party 5</li>
                <li>Party 6</li>
                <li>Party 7</li>
                <li>Party 8</li>
                <li>Party 9</li>
                <li>Party 10</li>
            </ul>
        </div>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
