@model L6_P2_4_TagHelper.ViewModel.PartyDetailsViewModel

@{
    /**/

    ViewBag.Title = "Index";
}

<h2>Детали тусовки "<b>@Model.Title</b>":</h2>

<h3>Когда: <b>@Model.Date.ToString("dd.MM.yy H:mm")</b></h3>
<h3>Где: <b>@Model.Location</b></h3>
<br>

<h2>С Вами также будут:</h2>
@if (Model.Attendants.Any())
{
    <ul class="party-list">
        @foreach (var attendant in Model.Attendants)
        {
            <li>
                @if (string.IsNullOrEmpty(attendant.Photo))
                {
                    <img src="~/images/noimagefound.jpg" alt="photo" width="50" height="50">
                }
                else
                {
                    <img src="~/images/@attendant.Photo" alt="photo" width="50" height="50">
                }
                <p style="margin: 0">@attendant.Name</p>
            </li>
        }
    </ul>
}
else
{
    <p>Пока никого :(</p>
}
<br>

<h3>Присоединяйся!</h3>

@if (ViewContext.ViewData.ModelState.Any(x => x.Value.Errors.Any()))
{
    <div class="error-box">
        <h3 class="error">Error box:</h3>

        @foreach (var item in ViewContext.ViewData.ModelState)
        {
            if (item.Value.Errors.Any())
            {
                <span><b>@item.Key: </b></span>
                <span>@(string.Join("; ", item.Value.Errors.Select(x => x.ErrorMessage)))</span>
                <br />
            }
        }
    </div>
}

<form asp-controller="Party" asp-action="Vote" enctype="multipart/form-data">
    <input type="hidden" name="partyId" value="@Model.PartyId" /><br />
    <label>Имя:</label>
    <input type="text" name="name" /><br />
    @if (ViewContext.ViewData.ModelState.ContainsKey("name") && ViewContext.ViewData.ModelState["name"].Errors.Any())
    {
        <span class="error">@ViewContext.ViewData.ModelState["name"].Errors[0].ErrorMessage</span><br />
    }

    <label>Email:</label>
    <input type="text" name="email" /><br />
    @if (ViewContext.ViewData.ModelState.ContainsKey("email") && ViewContext.ViewData.ModelState["email"].Errors.Any())
    {
        <span class="error">@ViewContext.ViewData.ModelState["email"].Errors[0].ErrorMessage</span><br />
    }

    <label>Иду:</label>
    <input type="checkbox" name="isAttend" /><br />

    <div class="file-fields">
        <label for="file">Аватарочка:</label>
        <input type="file" name="photo" accept="image/*" />
    </div>
    <br />

    <input type="submit" value="Отправить" />
</form>
<br>

<a asp-action="Index" asp-controller="Home">К списку тус</a>
